
.container{
    background-color: white;
    border-radius: 10px;
    width: auto; /* CHANGE THIS LINE FOR PINNED WIDTH*/
    padding: 20px;
    height: 90%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.144);
    border-bottom: 8px solid #E75C18;
}

.title{
    display: flex;
}

.titletext{
    color: #E75C18;
    margin-left: 2%;
    margin-bottom: 5%;
}

.table{
    width: 100%;
}

.tablerow:nth-child(odd){
    background: #F9F4F0;
}

.tablerow{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 5%;
    padding-right: 5%;
}


.deleteicon {
    cursor: pointer;
}
